* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 40, 40);
}
#canvas1{
    width: 1280px;
    height: 609px;
    display: flex;
    background-color: rgb(41, 40, 40);
}